@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* COLORS   */

  --clr-gray-blue-100: hsl(240, 78%, 98%);
  --clr-gray-blue-300: hsl(234, 14%, 74%);
  --clr-gray-blue-600: hsl(233, 13%, 49%);
  --clr-gray-blue-900: hsl(232, 13%, 33%);

  --clr-gradient-light: hsl(236, 72%, 79%);
  --clr-gradient-dark: hsl(237, 63%, 64%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



html {
  scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  background: var(--clr-gray-blue-100);
  background-position: 50vw top;
  background-repeat: no-repeat;
  color: var(--clr-gray-blue-600);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

body::before {
  content: url("images/bg-top.svg");
  position: absolute;
  top: -2.5rem;
  right: -12rem;
  z-index: -1;
}

ul {
  list-style: none;
}

/* HEADER */

h1 {
  padding: 4rem 0 2.5rem 0;
  text-align: center;
}

.radio-switch {
  border: none;
  padding: 0;
  white-space: nowrap;
  margin-bottom: 5.5rem;
  opacity: 1;
  transition: all 0.2s ease;
}

.radio-switch:hover {
  opacity: 0.8;
}

/* CSS just doesn't do any magic on legend, so let's hide it :( */
.radio-switch legend {
  font-size: 2px;
  opacity: 0;
  position: absolute;
}

.radio-switch label {
  cursor: pointer;
  display: inline-block;
  line-height: 2;
  position: relative;
  z-index: 2;
}

.radio-switch input {
  opacity: 0;
  position: absolute;
}

.radio-switch label:first-of-type {
  padding-right: 5em;
}

.radio-switch label:last-child {
  margin-left: -4.25em;
  padding-left: 5em;
}

.radio-switch:focus-within label:first-of-type:after {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--clr-gradient-dark);
}

.radio-switch.focus-within label:first-of-type:after {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--clr-gradient-dark);
}

.radio-switch label:first-of-type:before,
.radio-switch label:first-of-type:after {
  content: "";
  height: 2em;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  vertical-align: middle;
}

.radio-switch label:first-of-type:before {
  background: white;
  border-radius: 100%;
  position: absolute;
  top: 0.175rem;
  right: 0.7rem;
  transform: translateX(0em);
  transition: all 0.2s ease-in-out;
  width: 1.6rem;
  height: 1.6rem;
  z-index: 2;
}

.radio-switch label:first-of-type:after {
  background: linear-gradient(
    90deg,
    var(--clr-gradient-light) 33%,
    var(--clr-gradient-dark)
  );
  border-radius: 1em;
  margin: 0 1em;
  transition: all 0.2s ease-in-out;
  width: 3.5em;
}

/*
  Visually change the switch UI to match the
  checked state of the first radio button
*/
.radio-switch input:first-of-type:checked ~ label:first-of-type:after {
  background: linear-gradient(
    90deg,
    var(--clr-gradient-light) 33%,
    var(--clr-gradient-dark) 82%
  );
}

.radio-switch input:first-of-type:checked ~ label:first-of-type:before {
  transform: translateX(-1.5em);
}

/* Move the 2nd label to have a lower z-index, so when that
   option is toggled, the first label will overlay on top of the
   Switch ui, and the switch can be pressed again to toggle back
   to the prevoius state. */
.radio-switch input:last-of-type:checked ~ label:last-of-type {
  z-index: 1;
}

/* PLANS */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: min(97.5%, 50rem);
  margin-bottom: 4rem;
}

.plan-card {
  border-radius: 10px;
  box-shadow: 0 2px 16px 0 hsla(0, 0%, 57%, 0.2);
  padding: 2rem;
  text-align: center;
  width: min(90%, 35rem);
  margin: 0 auto;
}

/* NORMAL PLAN CARD STYLES */

.plan-normal {
  background: white;
}

.plan-btn {
  all: unset;
  box-sizing: border-box;
  background: linear-gradient(
    120deg,
    var(--clr-gradient-light) 5%,
    var(--clr-gradient-dark) 82%
  );
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 0.95rem;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.2s ease;
}

.plan-btn:hover {
  background: white;
  border: 1px solid var(--clr-gradient-dark);
  color: var(--clr-gradient-dark);
}

.plan-btn:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dashed var(--clr-gradient-dark);
}

.plan-btn:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.plan-btn:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dashed var(--clr-gradient-dark);
}

.plan-title {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.price {
  color: var(--clr-gray-blue-900);
  font-size: 4.4rem;
}

.plan-details {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  font-size: 0.9rem;
  margin: 1.5rem 0;
  padding: 1.4rem 0;
}

.plan-details li::before {
  content: "";
  position: absolute;
  background: var(--clr-gray-blue-300);
  height: 1px;
  width: 100%;
  left: 50%;
  top: -1rem;
  transform: translateX(-50%);
  opacity: 0.4;
}

.plan-details li:last-of-type::after {
  content: "";
  position: absolute;
  background: var(--clr-gray-blue-300);
  height: 1px;
  width: 100%;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  opacity: 0.4;
}

/* HIGHLIGHTED PLAN CARD STYLES */

.plan-highlighted {
  background: linear-gradient(
    130deg,
    var(--clr-gradient-light) 15%,
    var(--clr-gradient-dark) 82%
  );
  color: white;
}

.btn-highlighted {
  background: white;
  color: var(--clr-gradient-dark);
}

.btn-highlighted:hover {
  background: transparent;
  border: 1px solid white;
  color: white;
}

.btn-highlighted:focus {
  /* Provide a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dashed white;
}

.btn-highlighted:focus:not(:focus-visible) {
  /* Remove the focus indicator on mouse-focus for browsers
     that do s  upport :focus-visible */
  outline: none;
}

.btn-highlighted:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dashed white;
}

.plan-highlighted .price {
  color: white;
}

.plan-details li {
  position: relative;
}

.plan-highlighted .plan-details li::before {
  background: white;
}

.plan-highlighted .plan-details li:last-of-type::after {
  background: white;
}

/* MEDIA QUERIES */

@media (min-width: 69rem) {
  body {
    background: var(--clr-gray-blue-100);
    background-position: 50vw top;
    background-repeat: no-repeat;
    color: var(--clr-gray-blue-600);
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

  body::after {
    content: url("images/bg-bottom.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  h1 {
    padding: 0 0 2.5rem 0;
  }

  .radio-switch {
    margin-bottom: 0;
  }

  main {
    flex-direction: row;
    gap: 0;
    width: 68rem;
  }

  .plan-highlighted {
    transform: scale(1.075);
  }

  .plan-normal {
    padding-inline: 2.5rem;
  }
}
